@page "/report/{reportGuid:guid}"

@rendermode InteractiveServer

<h3>ReportDetails</h3>

@code {

    [Parameter]
    public Guid reportGuid { get; set; }
    protected override async Task OnInitializedAsync()
    {

    }
}
