<h3>StoryPlayList</h3>
@page "/StoryPlayList/{playListGuid:guid}"
@code {
    [Parameter]
    public Guid? playListGuid{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
    //will fill later
}

<h2>دردمندانه هنو این بخش کامل نشده</h2>
<h2>به من یک موز بدهید که سریعتر کار کنم</h2>